* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e3f9ff;
}

.title {
    text-align: center;
    font-size: 3em;
    margin: 0.5em 0;
    font-weight: 600;
}

.calculator {
    background-color: #3a4452;
    padding: 1.2em;
    border-radius: 10px;
    width: 100%;
    max-width: 420px;
    /* Adjusted max-width */
}

.calculator form input {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-size: 1.3em;
    box-shadow: -8px -5px 12px #ffffff1a, 5px 5px 12px rgba(0, 0, 0, 0.5);
    background-color: transparent;
    color: #ffffff;
    border: none;
    outline: none;
    text-align: center;
    margin: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calculator form input:nth-child(4n) {
    font-size: 2em;
}

.calculator form input[type=button]:hover {
    background-color: #656b72ad;
    box-shadow: -8px -5px 10px #ffffff1a, -5px -5px 10px #00000080;
}

.calculator form .input {
    width: calc(100% - 0.5em);
    margin: 5px;
    height: 10vh;
    font-size: 1.5rem;
    padding-right: 10px;
    border-radius: 5px;
    text-align: right;
    box-shadow: 3px 3px 10px #00000080;
    background-color: #ffffffed;
    color: black;
}

.calculator form #equal {
    background-color: red;
    color: #ffffff;
}

.calculator form #equal:hover {
    background-color: #ff2828;
    /* Adjusted hover color for better visibility */
}

.calculator form .special {
    color: rgb(0, 255, 255);
}

@media screen and (max-width: 768px) {
    .calculator {
        padding: 0.5em;
    }

    .calculator form input {
        font-size: 1em;
        margin: 0;
    }

    .calculator form .input {
        width: calc(100% - 1em);
        height: 8vh;
        margin: 5px;
        padding: 8px;
        font-size: 1.2em;
    }
}